<ul class="nk-menu">

  <li class="nk-menu-item"><a href="/admin-dashboard" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-home-alt"></em></span><span class="nk-menu-text">Dashboard</span></a></li>
  <li class="nk-menu-item"><a href="/admin-profile" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-user-c"></em></span><span class="nk-menu-text">Admin Profile</span></a></li>
  <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-user-c"></em></span><span class="nk-menu-text">Contact</span></a>
    <ul class="nk-menu-sub">
      <li class="nk-menu-item"><a href="/contacts" class="nk-menu-link"><span class="nk-menu-text">Contact
            List</span></a>
      </li>
      <li class="nk-menu-item"><a href="/add-contact" class="nk-menu-link"><span class="nk-menu-text">Add
            Contact</span></a>
      </li>
      <li class="nk-menu-item"><a href="/delete-contact" class="nk-menu-link"><span class="nk-menu-text">Delete
            Contact</span></a>
      </li>
    </ul>
  </li>
  <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-wallet"></em></span><span class="nk-menu-text">Wallets</span></a>
    <ul class="nk-menu-sub">
      <li class="nk-menu-item"><a href="/wallets" class="nk-menu-link"><span class="nk-menu-text">Wallets</span></a></li>
      <li class="nk-menu-item"><a href="/add-wallet" class="nk-menu-link"><span class="nk-menu-text">Add
            wallet</span></a>
      </li>
      <li class="nk-menu-item"><a href="/delete-wallet" class="nk-menu-link"><span class="nk-menu-text">Delete
            wallet</span></a>
      </li>
    </ul>
  </li>
  <li class="nk-menu-item"><a href="/deposits" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span><span class="nk-menu-text">Deposits</span></a></li>
  <li class="nk-menu-item"><a href="/direct-deposit" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span><span class="nk-menu-text">Direct Deposit</span></a></li>
  <li class="nk-menu-item"><a href="/withdrawals" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-report-profit"></em></span><span class="nk-menu-text">Withdrawals</span></a></li>
  <li class="nk-menu-item"><a href="/investments" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-clock"></em></span><span class="nk-menu-text">Investments</span></a></li>
  <li class="nk-menu-item"><a href="/users" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-user-alt"></em></span><span class="nk-menu-text">Users</span></a></li>

  <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-edit"></em></span><span class="nk-menu-text">Plans</span></a>
    <ul class="nk-menu-sub">
      <li class="nk-menu-item"><a href="/plans" class="nk-menu-link"><span class="nk-menu-text">Plan
            List</span></a>
      </li>
      <li class="nk-menu-item"><a href="/add-plans" class="nk-menu-link"><span class="nk-menu-text">Add
            Plan</span></a>
      </li>
      <li class="nk-menu-item"><a href="/delete-plan" class="nk-menu-link"><span class="nk-menu-text">Delete
            Plan</span></a>
      </li>
    </ul>
  </li>

  <li class="nk-menu-item"><a href="/supports" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-chat-circle"></em></span><span class="nk-menu-text">supports</span></a></li>
  <li class="nk-menu-item"><a href="/sent-mails" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-clock"></em></span><span class="nk-menu-text">Sent Mails</span></a></li>

  <li class="nk-menu-item"><a href="/send-mail" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-chat-circle"></em></span><span class="nk-menu-text">Send Mails</span></a></li>

  <li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Return to</h6>
  </li>
  <li class="nk-menu-item"><a href="/admin-login" class="nk-menu-link logout-btn-admin"><span class="nk-menu-icon"><em class="icon ni ni-signout"></em></span><span class="nk-menu-text">Log
        out</span></a></li>
</ul>