<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>FurxwaveCapital | <%= title %>
    </title>
    <link rel="stylesheet" href="/assets/css/dashlite.css?ver=3.2.3">
    <link id="skin-default" rel="stylesheet" href="/assets/css/theme.css?ver=3.2.3">
    <script async="" src="/gtag/js-1?id=UA-91615293-4"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-91615293-4');</script>

    <script src="https://kit.fontawesome.com/fe5872a91f.js" crossorigin="anonymous"></script>
</head>