<div class="nk-footer">
  <div class="container-xl wide-xl">
    <div class="nk-footer-wrap">
      <p>© 2020 <span class="template-name">Furxwave Capital Company</span>. All Rights Reserved.</p>

    </div>
  </div>
</div>
</div>
</div>
</div>



<script src="/assets/js/bundle.js?ver=3.2.3"></script>
<script src="/assets/js/scripts.js?ver=3.2.3"></script>
<script src="/assets/js/demo-settings.js?ver=3.2.3"></script>
<script src="/assets/js/login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
</body>

</html>