<%- include ('partials/landingPageHead'); %>

  <body>

    <header><%- include('partials/landingPageHeader') %></header>


    <!-- About image -->
    <section class="about-image">

      <h2 style="color: #fff; text-align: center;">About Us</h2>


    </section>
    <!-- About image end -->

    <!--begin section-grey -->
    <section class="section-grey">

      <!--begin container -->
      <div class="container">

        <div class="feature-box light-green wow fadeIn" data-wow-delay="0.25s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
          <div>

            <p class="about-info">Furxwave Capital is a public limited company that provides online investment
              platform
              and stock broker services, it is one of the most highest well paid investment that gives you huge return
              of
              profit. It is an online platform where investors are allowed to invest and earn x10 of their fund.
              Investing on Furxwave Capital earns you high profits within 24-48hrs of complete trading as a beginner.
              It's
              100% legit safe and secured.
              Our company is authorized and regulated in CANADA by the Canadian securities administration
              This project have been in existence since 2018 and have been growing and making much profit daily </p>

          </div>

        </div>

        <div class="feature-box light-green wow fadeIn" data-wow-delay="0.5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
          <h2 class="about-header">Our mission</h2>
          <div>

            <p class="about-info">The company focuses on providing financial services to the civilization and
              development
              of our country and the world.
              We power success across the financial world for individuals and institutions through unique insights,
              thinking and actions. Our investment professionals are well positioned to search for differentiated
              investment ideas, to uncover the story within the story, the hidden risks and the potential rewards. </p>
            <p class="about-info">Most importantly, the glue that holds all of this together is our culture. We believe
              it
              is the sustainable competitive advantage of our firm, helping us to attract, retain, develop, and motivate
              great people. The shared values of our culture include integrity, collegiality, learning, humility, a
              sense
              of humor, respect for diversity of thought, and an unyielding focus on our clients.</p>

          </div>

        </div>

      </div>
      <!-- end container -->

    </section>
    <!-- end section grey -->

    <!--begin section-white -->
    <section class="section-white about-section">

      <!--begin container-->
      <div class="container">

        <h2 class="choose-container">Why Choose Us?</h2>
        <!--begin row-->
        <div class="row align-items-center">

          <!--begin col-md-6-->
          <div class="col-md-6 wow slideInLeft" data-wow-delay="0.25s"
            style="visibility: visible; animation-delay: 0.25s; animation-name: slideInLeft;">

            <div class="margin-right-15">

              <img src="images/about001.jpg" class="width-100 image-shadow bottom-margins-images" alt="pic">

            </div>

          </div>
          <!--end col-sm-6-->

          <!--begin col-md-6-->
          <div class="col-md-6">

            <ul class="benefits">
              <li><i class="fas fa-check"></i>
                Our team of experienced professionals brings a wealth of knowledge and expertise to every investment
                decision, ensuring optimal outcomes for our clients.
              </li>
              <li><i class="fas fa-check"></i> We leverage cutting-edge technology and investment tools to stay ahead of
                the curve and capitalize on emerging opportunities in the market.</li>
              <li><i class="fas fa-check"></i> Your success is our priority. We take the time to understand your goals,
                risk tolerance, and financial situation to develop customized investment strategies that align with your
                objectives.</li>
              <li><i class="fas fa-check"></i>
                We believe in transparency and accountability. We provide clear and comprehensive information about our
                investment products, fees, and performance, so you can make informed decisions with confidence. </li>
              <li><i class="fas fa-check"></i>
                We adopt a long-term perspective in our investment approach, emphasizing sustainability, stability, and
                wealth preservation for the future. </li>
            </ul>

          </div>
          <!--end col-md-6-->

        </div>
        <!--end row-->

      </div>
      <!--end container-->

    </section>
    <!--end section-white-->


    <!--begin section-grey -->
    <section class="section-grey">

      <!--begin container -->
      <div class="container">

        <!--begin row -->
        <div class="row">

          <!--begin col-md-12 -->
          <div class="col-md-12 text-center margin-bottom-10">

            <h2 class="section-title">Our Services</h2>

            <p class="section-subtitle">Furxwave Capital offers a wide range of investment services to meet the
              diverse
              needs of our clients:</p>

          </div>
          <!--end col-md-12 -->

        </div>
        <!--end row -->

      </div>
      <!--end container -->

      <!--begin services-wrapper -->
      <div class="services-wrapper">

        <!--begin container -->
        <div class="container">

          <!--begin row -->
          <div class="row">

            <!--begin col-md-4 -->
            <div class="col-md-4">

              <div class="main-services blue">

                <i class="far fa-chart-bar"></i>

                <h4>Portfolio Management</h4>

                <p>We offer tailored portfolio management solutions designed to help you grow and protect your wealth
                  over
                  time.</p>

              </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

              <div class="main-services red">

                <i class="far fa-heart"></i>

                <h4>Investment Advisory</h4>

                <p>We offer personalized investment advice and guidance to help you make informed decisions and navigate
                  the complexities of the financial markets.</p>

              </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

              <div class="main-services green">

                <i class="fas fa-anchor"></i>

                <h4>Alternative Investments</h4>

                <p>Explore alternative investment opportunities, including private equity, hedge funds, real estate, and
                  more, to diversify your portfolio and enhance returns.</p>

              </div>

            </div>
            <!--end col-md-4 -->

          </div>
          <!--end row -->

        </div>
        <!--end container -->

      </div>
      <!--end services-wrapper -->

    </section>
    <!--end section-grey -->

    <%- include('partials/landingPageFooter') %>