<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  
</head>

<body style="background-color: aliceblue;">
  <div style="text-align: center; margin-top: 17%;">
    <h1 style="font-size: 3rem; font-style: italic;">Error 404</h1>
    <h3>Page not found</h3>
    Somethin went wrong
  </div>
</body>

</html>