<%- include ('partials/landingPageHead'); %>

  <body>

    <header><%- include('partials/landingPageHeader') %></header>


    <div class="faq-container">

      <h2 class="faq-header">FAQ'S and Answeres</h2>

      <div class="container">
        <!--begin accordion -->
        <div class="accordion" id="accordionFAQ">

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <p class="testim-name">How can I invest with Furxwave Capital?</p>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
              <div class="card-body">
                To make an investment you must first become a member of Furxwave Capital Company
                Once you are signed up, you can make your first deposit. All deposits must be made through the Members
                Area. You can login using the member username and password you receive when signup.
              </div>

            </div>
          </div>
          <!--end card -->

          <!-- begin card -->
          <!-- <div class="card">



          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <p class="testim-name">I wish to invest with FurxwaveCapital but I don't have an any ecurrency
                  account. What should I do?</p>
              </button>
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
            <div class="card-body">
              You can open a free PM account here: www.perfectmoney.is
            </div>
          </div>
        </div> -->
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  <p class="testim-name">How do I open my Furxwave Capital Account?</p>
                </button>
              </h5>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
              <div class="card-body">
                It's quite easy and convenient. Go to the home page and press the sign up button fill in the
                registration
                form and then press
                "sign up".

              </div>
            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  <p class="testim-name">Which e-currencies do you accept?</p>
                </button>
              </h5>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
              <div class="card-body">
                We accept e-currencies.
              </div>
            </div>

          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                  aria-expanded="false" aria-controls="collapseFive">
                  <p class="testim-name">How can I withdraw funds?</p>
                </button>
              </h5>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ">
              <div class="card-body">
                Login to your account using your username and password and check the Withdraw section.
              </div>
            </div>

          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                  aria-expanded="false" aria-controls="collapseSix">
                  <p class="testim-name">How long does it take for my deposit to be added to my account?</p>
                </button>
              </h5>
            </div>

            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFAQ">
              <div class="card-body">
                Your account will be updated as fast, as you deposit.
              </div>
            </div>

          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
                  aria-expanded="false" aria-controls="collapseSeven">
                  <p class="testim-name">How can I change my e-mail address or password?</p>
                </button>
              </h5>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFAQ">
              <div class="card-body">
                Log into your account and go to user dashboard, your can see profile in the menu. You can
                change your e-mail address and password there.
              </div>
            </div>

          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                  aria-expanded="false" aria-controls="collapseEight">
                  <p class="testim-name">What if I can't log into my account because I forgot my password?</p>
                </button>
              </h5>
            </div>

            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionFAQ">
              <div class="card-body">
                Click forgot password link, type your username or e-mail and you'll receive your account
                information. Or you contact your trading agent for agent
              </div>
            </div>

          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                  aria-expanded="false" aria-controls="collapseNine">
                  <p class="testim-name">Does a daily profit paid directly to my currency account?</p>
                </button>
              </h5>
            </div>

            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionFAQ">
              <div class="card-body">
                No, profits are gathered on your Furxwave Capital account and you can withdraw them anytime.
              </div>
            </div>

          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen"
                  aria-expanded="false" aria-controls="collapseTen">
                  <p class="testim-name">How do you calculate the interest on my account?</p>
                </button>
              </h5>
            </div>

            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionFAQ">
              <div class="card-body">
                Depending on each plan. Interest on your Furxwave Capital account is acquired Daily, Weekly,
                Bi-Weekly, Monthly and Yearly and credited to your available balance at the end of each day.
              </div>
            </div>

          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingEleven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                  <p class="testim-name">Can I do a direct deposit from my account balance?</p>
                </button>
              </h5>
            </div>

            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionFAQ">
              <div class="card-body">
                Yes! To make a deposit from your account balance. Simply login into
                your members account and click on Make Deposit and select the Deposit from Account Balance button.
              </div>

            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingTwelve">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                  <p class="testim-name">Can I make an additional deposit to Furxwave Capital account once it
                    has been opened?</p>
                </button>
              </h5>
            </div>

            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionFAQ">
              <div class="card-body">
                Yes, you can but all transactions are handled separately.
              </div>

            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingThirteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                  <p class="testim-name">After I make a withdrawal request, when will the funds be available on
                    my ecurrency account?</p>
                </button>
              </h5>
            </div>

            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionFAQ">
              <div class="card-body">
                Funds are usually available within 12 business hours.
              </div>

            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingFourteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                  <p class="testim-name">How can I change my password?</p>
                </button>
              </h5>
            </div>

            <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionFAQ">
              <div class="card-body">
                You can change your password directly from your members area by editing it in your personal
                profile.
              </div>

            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingFiveteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseFiveteen" aria-expanded="false" aria-controls="collapseFiveteen">
                  <p class="testim-name">Can I lose money?</p>
                </button>
              </h5>
            </div>

            <div id="collapseFiveteen" class="collapse" aria-labelledby="headingFiveteen" data-parent="#accordionFAQ">
              <div class="card-body">
                No.
                It's very important for you to know that we are real traders and that we invest members'
                funds on major investments.
              </div>

            </div>
          </div>
          <!--end card -->


          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingSixteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                  <p class="testim-name">How can I check my account balances?</p>
                </button>
              </h5>
            </div>

            <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionFAQ">
              <div class="card-body">
                You can access the account information 24 hours, seven days a week over the Internet.

              </div>

            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingSeventeen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                  <p class="testim-name">May I open several accounts in your program?</p>
                </button>
              </h5>
            </div>

            <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionFAQ">
              <div class="card-body">
                No. If we find that one member has more than one account, the entire funds will be
                frozen.

              </div>
            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingEighteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                  <p class="testim-name">How can I make a spend?</p>
                </button>
              </h5>
            </div>

            <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordionFAQ">
              <div class="card-body">
                To make a spend you must first become a member of Furxwave Capital company. Once
                you are signed up, you can make your first spend. All spends must be made through the
                Member Area. You can login using the member username and password you received when
                signup.

              </div>

            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">

            <div class="card-header" id="headingNineteen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                  <p class="testim-name">Who manages the funds?</p>
                </button>
              </h5>
            </div>

            <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionFAQ">
              <div class="card-body">
                These funds are managed by a team of Furxwave Capital experts.

              </div>

            </div>
            <!--end card -->

          </div>
          <!--end accordion -->
        </div>
      </div>

      <%- include('partials/landingPageFooter') %>