<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <title>FurxwaveCapital | <%= title %>
  </title>

  <!-- Loading Bootstrap -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Loading Template CSS -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/animate.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/pe-icon-7-stroke.css">
  <link href="/assets/css/style-magnific-popup.css" rel="stylesheet">

  <!-- Awsome Fonts -->
  <link rel="stylesheet" href="/assets/css/all.min.css">

  <!-- Fonts -->
  <link href="/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="/css2-1?family=Nunito:wght@600;700&display=swap" rel="stylesheet">

  <!-- Font Favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">

</head>

<body>

  <!--begin header -->
  <header class="header">

    <!--begin navbar-fixed-top -->
    <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">

      <!--begin container -->
      <div class="container">

        <!--begin logo -->
        <a class="navbar-brand" href="/"><img src="images/enbridge.jpg" style="width: 150px;" alt="Company-icon"></a>
        <!--end logo -->

        <!--begin navbar-toggler -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <!--end navbar-toggler -->

        <!--begin navbar-collapse -->
        <div class="navbar-collapse collapse" id="navbarCollapse">

          <!--begin navbar-nav -->
          <ul class="navbar-nav ml-auto">

            <li>
              <a href="/about">About</a>
            </li>

            <li>
              <a href="/contact">Contact</a>
            </li>

            <li>
              <a href="/faq">Faq's</a>
            </li>

            <li class="discover-link">
              <a href="/login">Login</a>
            </li>

            <li class="discover-link">
              <a href="/signup" class="discover-btn">Signup</a>
            </li>

          </ul>
          <!--end navbar-nav -->

        </div>
        <!--end navbar-collapse -->

      </div>
      <!--end container -->

    </nav>
    <!--end navbar-fixed-top -->

  </header>
  <!--end header -->


  <!-- sign up form start -->
  <div class="signup-bg">
    <div class="container btn-container">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <div class="card">
            <div class="card-body bg-opacity">
              <h4 class="text-center">Log into your account</h4>
              <form class="login-form form-login">

                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" class="form-control" type="email" placeholder="email@example.com" required>
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input id="password" class="form-control" type="password" placeholder="Password" required minlength="8">
                </div>

                <p><a href="/forgot-password">Forgot password?</a></p>

                <button class="btn btn-primary btn-block custom-btn login-btn">Log in</button>
              </form>
              <p class="text-center mt-3">Don't have an account? <a href="/signup">Sign up</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- sign up form end -->


<!--begin footer -->
<div class="footer">

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row">

      <!--begin col-md-5 -->
      <div class="col-md-5">
        <img src="/images/enbridge.jpg" style="width: 150px;" alt="Company-icon">
        <p>© 2020 <span class="template-name">Furxwave Capital Company</span>. All Rights Reserved.</p>
        </p>

      </div>
      <!--end col-md-5 -->

      <!--begin col-md-2 -->
      <div class="col-md-2"></div>
      <!--end col-md-2 -->

      <!--begin col-md-5 -->
      <div class="col-md-5">

        <!--begin footer_social -->
        <ul class="footer_social">

          <li>Follw us:</li>

          <li><a href="#"><i class="fab fa-twitter"></i></a></li>

          <li><a href="#"><i class="fab fa-pinterest"></i></a></li>

          <li><a href="https://www.facebook.com/profile.php?id=61556171205621"><i class="fab fa-facebook-square"></i></a></li>

          <li><a href="#"><i class="fab fa-instagram"></i></a></li>

          <li><a href="#"><i class="fab fa-skype"></i></a></li>

          <li><a href="#"><i class="fab fa-dribble"></i></a></li>

        </ul>
        <!--end footer_social -->

      </div>
      <!--end col-md-5 -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</div>
<!--end footer -->


  <!-- Load JS here for greater good =============================-->
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.scrollTo-min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <!-- <script src="js/jquery.nav.js"></script> -->
  <script src="/assets/js/wow.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>




</body>

</html>